html, body{
	height: 100%;
	width: 100%;
	position: relative;
}

#view{
	display: inline-block;
	width: 75%;
	height: 100%;
	background-color:white; 
	vertical-align: top;
	color: darkgray;
	padding: 5px;
	overflow-y:scroll; 
}
#menu{
	width: 20%;
	height: 100%;
	padding: 5px;
	background-color:rgb(100,100,100);
	display: inline-block;
	color: white;

}