html, body{
	height: 100%;
	width: 100%;
	position: relative;
}
.both{
	display: inline-block;
	padding-right: 25px;
}

#view{
	display: inline-block;
	width: 82%;
	height: 92%;
	position: absolute;
	vertical-align: top;
	color: darkgray;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
#menu{
	overflow: hidden;
	width: 15%;
	height: 100%;
	padding: 5px;
	background-color:rgb(100,100,100);
	display: inline-block;
	color: rgb(150,150,150);
	padding-left: 10px;

}
#show{
	margin-left: 50px;
	overflow-y:scroll; 
	height: 65%;
}

li{
	cursor: pointer;
}
input[type=text]{

	width: 150px;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-color: white;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: rgb(190,190,190);
    font-size: 20px;
}

input[type=text]:focus{
	
	outline: 0px;
	animation-duration: .5s;
	animation-name: focusInput;
	border-bottom-color: rgb(10,50,200);
	width: 250px;
}
input[type=submit]{
	border-color: rgb(145,0,35);
	cursor: pointer;
	border:solid .5px black;
	margin-bottom: 30px;
	margin-top: 20px;
}

.item{
	list-style: none;
	width: 100%;
	padding-top:15px;
	padding-bottom: 15px;
	border-bottom:solid .5px white; 
}
ul{
	width: 100%;
	padding-left: 0px;
}
.item ul{
	width: 100%;
	padding-left: 30px;
}

.subitem{
	list-style: none;
}

#total{
	visibility: hidden;
}

@keyframes focusInput {
  from {
    border-bottom-color: rgb(190,190,190);
    width: 150px;
  }

  to {
  	width: 250px;
    border-bottom-color: rgb(10,50,200);
  }
}
td{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


