#head{
	height: 50px;
	width: 100%;
	background-color: rgb(145,0,35);
	padding: 5px;
	position: absolute;
	z-index: 2;
	-webkit-box-shadow: 2px 9px 69px -12px rgba(212,212,212,1);
    -moz-box-shadow: 2px 9px 69px -12px rgba(212,212,212,1);
	box-shadow: 2px 9px 69px -12px rgba(212,212,212,1);


}
#logo{
	width: 50px;
	height: 50px;
}
#img_logo{
	height: 50px;
	width: 50px;
}
#log{
	color: white;
	font-size:20px;
	position: absolute;
	top: 20px;
	right: 80px;

}

#logout{
	position: absolute;
	top: 20px;
	right: 20px;
	visibility: hidden;
}